[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.icon-phone {
	width: 20px;
	height: 20px;
}
.icon-arrow-left7 {
	width: 20px;
	height: 20px;
}
.icon-uniE6D8 {
	width: 20px;
	height: 20px;
}
.icon-twitter {
	width: 20px;
	height: 20px;
}
.icon-facebook {
	width: 20px;
	height: 20px;
}
.icon-googleplus {
	width: 20px;
	height: 20px;
}
.icon-pinterest {
	width: 20px;
	height: 20px;
}
